<div class="container">
	<h2>Recent Transactions</h2>
	<div class="table-responsive"> 
		<table class="table table-bordered table-striped"> 
			<colgroup> 
				<col class="col-xs-3"> 
				<col class="col-xs-2">
				<col class="col-xs-3">
			</colgroup> 
			<thead> 
				<tr> 
					<th>Account Number</th> 
					<th>Date</th> 
					<th>Type</th>
					<th>Amount</th>
				</tr> 
			</thead> 
			<tbody>
				<% @transactions.each do |transaction| %>
					<tr>
						<td><%= transaction.account.number %></td> 
						<td><%= transaction.created_at %></td> 
						<td><%= transaction.type %></td> 
						<td><%= transaction.amount %></td>
					</tr>
				<% end %>
			</tbody> 
		</table> 
	</div>
</div>